@use "../../styles/variables";
@use "sass:color";

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding-bottom: 0;

  &:active {
    .xmark {
      color: color-mix(in srgb, rgba(var(--x-mark), 0.1) 90%, black 10%);
    }
  }

  .xmark {
    font-size: 1.5rem;
  }

  @media (min-width: 1026px) {
    .xmark {
      transition: color 0.2s ease;
    }
    &:hover:not(:active) {
      .xmark {
        color: color-mix(in srgb, var(--x-mark) 50%, white 50%);
      }
    }
  }
}
