@use "../../styles/variables";
@use "sass:color";

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;

  &:active {
    .xmark {
      color: color-mix(in srgb, rgba(var(--x-mark), 0.1) 90%, black 10%);
    }
  }

  .xmark {
    font-size: 1.5rem;
  }
}
