@use "./variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  min-height: 100%;
}

body {
  padding: 1rem;
  min-height: 100%;
  min-width: 320px;
  font-size: 16px;
}

main {
  padding-bottom: 8rem;
}

h1,
h2,
summary {
  font-family: "Cormorant Garamond", Cambria, "Times New Roman", serif;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 1rem 0.8rem 0.8rem 0.8rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

h2 {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 1.2rem;
  margin-top: 2rem;
}

p,
small,
a {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

// instead of 'display: none/visibility: hidden' so screen readers still can see the elements.
// https://kinaole.co/en/sr-only-just-a-class/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.btn {
  border-radius: 999px;
  border: none;
  padding: 0.5rem 1.5rem;
  margin: 0.5rem;
  width: 150px;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 400;
  background-color: rgb(230, 230, 230);

  &:active,
  &:visited,
  &:link {
    color: black;
  }
}

.btn--secondary {
  background-color: transparent;
  border: 1px solid darkgray;
}

.tagline {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 2rem;
}
