@use "variables";
@use "sass:color";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: lighten, soft-light, soft-light, normal;
  min-height: 100dvh;
  padding: 1rem;
  min-width: 320px;
  font-size: 16px;
}

// 1px stars created with mutliple boxshadows in diffrent sizes and opacities.
body::before {
  content: "";
  position: fixed;
  width: 1px;
  height: 1px;
  box-shadow: variables.$stars;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
}

main {
  padding-bottom: 10rem;
}

h1,
h2,
summary {
  font-family: "Cormorant Garamond", Cambria, "Times New Roman", serif;
  letter-spacing: 1px;
  font-weight: 600;
  margin: 1rem 0.8rem 0.8rem 0.8rem;
  color: variables.$secondary-text-color;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

h2 {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 1.2rem;
  margin-top: 2rem;
}

p,
small,
a,
input {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: variables.$primary-text-color;
  letter-spacing: 1px;
}

a {
  color: variables.$primary-text-color;

  &:active {
    color: variables.$secondary-text-color;
  }
}

// instead of 'display: none/visibility: hidden' so screen readers still can see the elements.
// https://kinaole.co/en/sr-only-just-a-class/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.btn {
  border-radius: 999px;
  border: none;
  padding: 0.5rem 1.5rem;
  margin: 0.4rem;
  width: 150px;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 400;
  box-shadow: variables.$shadow-m;
  cursor: pointer;

  &:disabled {
    background-color: variables.$disabled-btn-bg;
    box-shadow: none;
    color: variables.$disabled-btn-text;
  }
}

.btn--primary {
  color: variables.$primary-btn-text;
  background-color: variables.$primary-btn-bg;

  &:active {
    // background-color: darken(variables.$primary-btn-bg, 5%);
    background-color: color.scale(variables.$primary-btn-bg, $lightness: -10%);
  }
}

.btn--affirmation-primary {
  background-color: variables.$primary-btn-affirmation-bg;
  color: variables.$primary-btn-affirmation-text;
  box-shadow: variables.$shadow-s;

  &:active {
    background-color: color.scale(
      variables.$primary-btn-affirmation-bg,
      $lightness: -10%
    );
  }
}

.btn--affirmation-secondary {
  background-color: variables.$secondary-btn-affirmation-bg;
  color: variables.$secondary-btn-affirmation-text;
  border: 2px solid variables.$secondary-btn-affirmation-text;
  box-shadow: variables.$shadow-s;

  &:active {
    background-color: color.scale(
      variables.$secondary-btn-affirmation-bg,
      $lightness: -10%
    );
    border: 2px solid darken(variables.$secondary-btn-affirmation-text, 10%);
  }
}

.tagline {
  text-align: center;
  font-size: 0.8rem;
  margin-bottom: 2rem;
}
