@use "./variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  text-align: center;
}

body {
  display: flex;
  margin: 1rem;
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
}

h2 {
  display: flex;
  justify-content: center;
  gap: 5px;
  font-family: "Cormorant Garamond", Cambria, "Times New Roman", serif;
  letter-spacing: 1px;
  margin: 0.5rem 0.8rem 0.8rem 0.8rem;
  font-size: 1.1rem;
  font-weight: 600;
}

p,
small {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

p {
  font-size: 1rem;
}

// instead of 'display: none/visibility: hidden' so screen readers still can see the elements.
// https://kinaole.co/en/sr-only-just-a-class/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
