@use "variables";
@use "sass:color";

.theme-sunrise {
  background-blend-mode: lighten, soft-light, soft-light, normal;
  background: variables.$sunrise-background;

  h1,
  h2,
  summary {
    color: variables.$secondary-text-sunrise;
  }

  p {
    color: variables.$primary-text-sunrise;
  }

  a {
    color: variables.$primary-text-sunrise;
    transition: color 0.2s ease;

    &:active {
      color: variables.$secondary-text-sunrise;
    }

    &:hover:not(:active) {
      color: color.scale(
        variables.$primary-text-sunrise,
        $lightness: variables.$hover-affirmation-btn
      );
    }
  }

  .btn {
    box-shadow: variables.$shadow-m;

    &:disabled {
      background-color: variables.$disabled-btn-bg;
      color: variables.$disabled-btn-text;
    }
  }

  .btn--primary {
    color: variables.$primary-btn-text;
    background-color: variables.$primary-btn-bg;

    &:active {
      background-color: color.scale(
        variables.$primary-btn-bg,
        $lightness: variables.$active
      );
    }
  }

  .btn--affirmation-primary {
    background-color: variables.$primary-btn-affirmation-bg;
    color: variables.$primary-btn-affirmation-text;
    box-shadow: variables.$shadow-s;

    &:active {
      background-color: color.scale(
        variables.$primary-btn-affirmation-bg,
        $lightness: variables.$active
      );
    }
  }

  .btn--affirmation-secondary {
    background-color: variables.$secondary-btn-affirmation-bg;
    color: variables.$secondary-btn-affirmation-text;
    border: 2px solid variables.$secondary-btn-affirmation-text;
    box-shadow: variables.$shadow-s;

    &:active {
      color: color.scale(
        variables.$secondary-btn-affirmation-text,
        $lightness: variables.$active
      );
      border: 2px solid
        color.scale(
          variables.$secondary-btn-affirmation-text,
          $lightness: variables.$active
        );
    }
  }

  @media (min-width: 768px) {
    background: variables.$sunrise-background-media-min-768px;
  }

  @media (min-width: 1024px) {
    background: variables.$sunrise-background-media-min-1024px;

    .btn--primary,
    .btn--affirmation-primary {
      transition: background-color 0.2s ease;
    }

    .btn--affirmation-secondary {
      transition: color 0.2s ease, border 0.2s ease;
    }

    .btn--primary:hover:not(:active) {
      background-color: color.scale(
        variables.$primary-btn-bg,
        $lightness: variables.$hover
      );
    }

    .btn--affirmation-primary:hover:not(:active) {
      background-color: color.scale(
        variables.$primary-btn-affirmation-bg,
        $lightness: variables.$hover-affirmation-btn
      );
    }

    .btn--affirmation-secondary:hover:not(:active) {
      color: color.scale(
        variables.$secondary-btn-affirmation-text,
        $lightness: variables.$hover-affirmation-btn
      );
      border: 2px solid
        color.scale(
          variables.$secondary-btn-affirmation-text,
          $lightness: variables.$hover-affirmation-btn
        );
    }
  }
}

.theme-sunset {
  background-blend-mode: soft-light, overlay, normal;
  background: variables.$sunset-background;

  h1,
  h2,
  summary {
    color: variables.$secondary-text-sunset;
  }

  p {
    color: variables.$primary-text-sunset;
  }

  a {
    color: variables.$primary-text-sunset;
    transition: color 0.2s ease;

    &:active {
      color: variables.$secondary-text-sunset;
    }

    &:hover:not(:active) {
      color: color.scale(
        variables.$primary-btn-affirmation-bg-sunset,
        $lightness: variables.$hover-affirmation-btn
      );
    }
  }

  .btn {
    box-shadow: variables.$shadow-darker-s;

    &:disabled {
      background-color: variables.$disabled-btn-bg-sunset;
      color: variables.$disabled-btn-text-sunset;
    }
  }

  .btn--primary {
    color: variables.$primary-btn-text-sunset;
    background-color: variables.$primary-btn-bg-sunset;

    &:active {
      background-color: color.scale(
        variables.$primary-btn-bg-sunset,
        $lightness: variables.$active
      );
    }
  }

  .btn--affirmation-primary {
    background-color: variables.$primary-btn-affirmation-bg-sunset;
    color: variables.$primary-btn-affirmation-text-sunset;
    box-shadow: variables.$shadow-darker-s;

    &:active {
      background-color: color.scale(
        variables.$primary-btn-affirmation-bg-sunset,
        $lightness: variables.$active
      );
    }
  }

  .btn--affirmation-secondary {
    background-color: variables.$secondary-btn-affirmation-bg;
    color: variables.$secondary-btn-affirmation-text-sunset;
    border: 2px solid variables.$secondary-btn-affirmation-text-sunset;
    box-shadow: variables.$shadow-s;

    &:active {
      background-color: color.scale(
        variables.$secondary-btn-affirmation-bg,
        $lightness: variables.$active
      );
      border: 2px solid
        color.scale(
          variables.$secondary-btn-affirmation-text-sunset,
          $lightness: variables.$active
        );
    }
  }

  @media (min-width: 1024px) {
    .btn--primary,
    .btn--affirmation-primary {
      transition: background-color 0.2s ease;
    }

    .btn--affirmation-secondary {
      transition: color 0.2s ease, border 0.2s ease;
    }

    .btn--primary:hover:not(:active) {
      background-color: color.scale(
        variables.$primary-btn-bg-sunset,
        $lightness: variables.$hover
      );
    }

    .btn--affirmation-primary:hover:not(:active) {
      background-color: color.scale(
        variables.$primary-btn-affirmation-bg-sunset,
        $lightness: variables.$hover-affirmation-btn
      );
    }

    .btn--affirmation-secondary:hover:not(:active) {
      color: color.scale(
        variables.$secondary-btn-affirmation-text-sunset,
        $lightness: variables.$hover-affirmation-btn
      );
      border: 2px solid
        color.scale(
          variables.$secondary-btn-affirmation-text-sunset,
          $lightness: variables.$hover-affirmation-btn
        );
    }
  }
}
