$cloud: #f0af4f;
$star: rgba(255, 196, 166, 0.8);

//Background colors for "sunrise" theme
$sky-lavender: #735061; // sky-lavander is also used for modal background
$sky-rose: #b26e83;
$sky-mauve: #7d4853;

$sunrise-background: radial-gradient(
    70% 25% at 20% 5%,
    $cloud,
    transparent 100%
  ),
  radial-gradient(70% 40% at 90% 40%, $cloud, transparent 75%),
  radial-gradient(90% 50% at 10% 70%, $cloud, transparent 80%),
  linear-gradient(180deg, $sky-lavender 0%, $sky-rose 35%, $sky-mauve 100%);

$sunrise-background-media-min-768px: radial-gradient(
    35% 30% at 10% 5%,
    rgba($cloud, 0.8),
    transparent 100%
  ),
  radial-gradient(70% 40% at 90% 40%, $cloud, transparent 75%),
  radial-gradient(60% 40% at 20% 80%, $cloud, transparent 100%),
  linear-gradient(180deg, $sky-lavender 0%, $sky-rose 35%, $sky-mauve 100%);

$sunrise-background-media-min-1024px: radial-gradient(
    30% 30% at 10% 20%,
    rgba($cloud, 0.6),
    transparent 100%
  ),
  radial-gradient(70% 40% at 90% 40%, $cloud, transparent 75%),
  radial-gradient(40% 35% at 15% 90%, $cloud, transparent 100%),
  linear-gradient(180deg, $sky-lavender 0%, $sky-rose 35%, $sky-mauve 100%);

// Background color for "sunset" theme
$sky-mahogany: #311815;
$sky-hazel: #2c1714;
$sky-espresso: #23120f;

// Modal and task item background "sunset" theme
$modal-walnut: #412721;
$item-bg: #6d4b27;

$sunset-background: linear-gradient(
    130deg,
    rgba($cloud, 0) 30%,
    rgba($cloud, 0.5) 45%,
    rgba($cloud, 0) 70%
  ),
  linear-gradient(
    130deg,
    rgba(255, 215, 100, 0) 55%,
    rgba(255, 215, 100, 0.3) 58%,
    rgba(255, 215, 100, 0) 90%
  ),
  linear-gradient(180deg, $sky-mahogany 0%, $sky-hazel 25%, $sky-espresso 100%);

//Box-shadow stars
$stars: 2vw 5vh 2px rgba($star, 0.8), 74vw 8vh 1px rgba($star, 0.6),
  45vw 3vh 2px rgba($star, 0.6), 10vw 8vh 2px rgba($star, 0.8),
  15vw 15vh 1px rgba($star, 0.7), 22vw 22vh 1px rgba($star, 0.8),
  28vw 12vh 2px rgba($star, 0.6), 32vw 32vh 1px rgba($star, 0.7),
  38vw 18vh 2px rgba($star, 0.8), 42vw 35vh 1px rgba($star, 0.6),
  48vw 25vh 2px rgba($star, 0.7), 53vw 42vh 1px rgba($star, 0.7),
  58vw 15vh 2px rgba($star, 0.8), 63vw 38vh 1px rgba($star, 0.6),
  68vw 28vh 2px rgba($star, 0.7), 73vw 45vh 1px rgba($star, 0.8),
  78vw 32vh 2px rgba($star, 0.8), 83vw 48vh 1px rgba($star, 0.6),
  88vw 20vh 1px rgba($star, 0.7), 93vw 52vh 1px rgba($star, 0.7),
  98vw 35vh 2px rgba($star, 0.8), 10vw 37vh 2px rgba($star, 0.8),
  15vw 40vh 1px rgba($star, 0.7), 22vw 46vh 1px rgba($star, 0.8),
  28vw 46vh 2px rgba($star, 0.6), 32vw 54vh 1px rgba($star, 0.7),
  38vw 50vh 1px rgba($star, 0.8), 42vw 42vh 1px rgba($star, 0.6),
  48vw 25vh 2px rgba($star, 0.7), 53vw 68vh 1px rgba($star, 0.6),
  58vw 62vh 2px rgba($star, 0.8), 63vw 72vh 2px rgba($star, 0.8),
  68vw 58vh 1px rgba($star, 0.7), 73vw 58vh 1px rgba($star, 0.6),
  78vw 68vh 1px rgba($star, 0.8), 83vw 88vh 1px rgba($star, 0.6),
  88vw 76vh 2px rgba($star, 0.7), 93vw 90vh 1px rgba($star, 0.6),
  98vw 85vh 2px rgba($star, 0.8), 10vw 98vh 1px rgba($star, 0.8),
  58vw 85vh 1px rgba($star, 0.8), 22vw 110vh 1px rgba($star, 0.6),
  45vw 108vh 2px rgba($star, 0.6), 40vw 105vh 1px rgba($star, 0.8),
  65vw 112vh 2px rgba($star, 0.6), 63vw 120vh 1px rgba($star, 0.6),
  68vw 95vh 1px rgba($star, 0.7), 32vw 125vh 1px rgba($star, 0.8),
  78vw 102vh 2px rgba($star, 0.8), 48vw 128vh 1px rgba($star, 0.6),
  88vw 114vh 2px rgba($star, 0.7), 55vw 140vh 1px rgba($star, 0.8),
  98vw 132vh 1px rgba($star, 0.8);

//Text colors, also used on icon-buttons
$primary-text-sunrise: #eed8c1;
$secondary-text-sunrise: #f4c58f;

$primary-text-sunset: #fcd4aa;
$secondary-text-sunset: #e68f43;

//Button colors and shadows
$primary-btn-bg: $sky-mauve;
$primary-btn-text: $primary-text-sunrise;

$primary-btn-bg-sunset: $primary-text-sunset;
$primary-btn-text-sunset: $sky-mahogany;

$primary-btn-affirmation-bg: $primary-text-sunrise;
$primary-btn-affirmation-text: $sky-mauve;

$primary-btn-affirmation-bg-sunset: $primary-text-sunset;
$primary-btn-affirmation-text-sunset: $sky-mahogany;

$secondary-btn-affirmation-bg: transparent;
$secondary-btn-affirmation-text: $primary-text-sunrise;
$secondary-btn-affirmation-text-sunset: $primary-text-sunset;

$disabled-btn-text: $sky-mauve;
$disabled-btn-bg: rgba($primary-text-sunrise, 0.2);

$disabled-btn-text-sunset: #3e2e23;
$disabled-btn-bg-sunset: rgba($secondary-text-sunset, 0.4);

$shadow-color: #4a3745;
$shadow-darker: #1a1311;
$shadow-s: 2px 2px 3px rgba($shadow-color, 0.4);
$shadow-m: 3px 3px 6px $shadow-color;
$shadow-darker-s: 2px 2px 3px rgba($shadow-darker, 0.4);
$shadow-darker-m: 2px 2px 3px $shadow-darker;

// Active on buttons
$active: 10%;

//Breathe-animation color
$calm-blue: #8b7cfb;

//icons
$icon-gold: $cloud;
