@use "../../styles/mixins";
@use "../../styles/base";

.welcome {
  position: fixed;
  inset: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem;
  height: 100%;
  width: 100%;
  text-align: left;
  background-color: transparent;
  opacity: 0;
  animation: modalFadeIn 0.3s ease-out forwards;

  p:nth-of-type(2) {
    margin-top: 2rem;
  }

  p:nth-of-type(2),
  p:nth-of-type(3) {
    font-size: 0.9rem;
    width: 100%;
  }

  button {
    margin-top: auto;
  }

  @media (min-width: 768px) {
    padding: 3rem 5rem;

    p {
      font-size: 1rem;
    }
  }

  @media (min-width: 1024px) {
    @include mixins.welcome-mood;
  }
}
