.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  min-height: 100dvh;
  width: 100%;
  text-align: left;

  p:nth-of-type(2) {
    margin-top: 2rem;
  }

  button {
    margin-top: auto;
  }
}
