.welcome {
  position: fixed;
  inset: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem;
  min-height: 100%;
  width: 100%;
  text-align: left;
  background-color: transparent;

  p:nth-of-type(2) {
    margin-top: 2rem;
  }

  button {
    margin-top: auto;
  }
}
