.checkbox {
  position: relative;
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  border: 2px solid rgb(191, 191, 191);
  border-radius: 4px;
  box-sizing: border-box;

  .checked {
    position: absolute;
    width: 0.8rem;
    height: 0.8rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: radial-gradient(
      circle,
      rgb(255, 179, 0) 0%,
      rgba(255, 149, 0, 0.4) 45%,
      rgba(255, 174, 0, 0.1) 100%
    );
    filter: blur(0.2px);
    box-shadow: 0 0 5px rgba(255, 174, 0, 0.7);
  }
}
