@use "../../styles/variables";

.breathe-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;

  // .breathe {
  //   width: 3rem;
  //   height: 3rem;
  //   border-radius: 50%;
  //   background-color: rgb(115, 77, 55);
  // }

  .ring {
    position: absolute;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: rgb(variables.$calm-blue, 0.3);
  }

  .core {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: variables.$calm-blue;
    z-index: 10;
  }
}
