.help {
  display: flex;
  flex-direction: column;

  a {
    align-self: flex-end;

    .xmark {
      font-size: 1.5rem;
      color: black;
    }
  }

  .content {
    padding: 0 1rem;

    h1 {
      margin-bottom: 0.5rem;
    }

    .tagline {
      font-size: 0.8rem;
      margin-bottom: 2rem;
      text-align: center;
    }

    p {
      text-align: left;
    }

    details {
      summary {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 1.2rem;
        list-style: none;
        margin: 0 0 0.5rem 0;
        cursor: pointer;
        padding: 0.5rem 0.8rem;
        background-color: rgb(234, 234, 234);
        border-radius: 5px;

        span {
          display: flex;
          align-items: center;
        }

        svg {
          font-size: 1rem;
          margin-right: 0.3rem;
        }

        .chevron {
          transition: transform 0.2s ease;
        }
      }

      p {
        padding: 0 0.2rem;
      }

      &[open] {
        .chevron {
          transform: rotate(180deg);
        }
      }
    }
  }
}
