.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1rem;

  .help-icon {
    background-color: rgb(176, 176, 176);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    transition: background 0.2s ease;

    &:hover {
      background-color: rgb(194, 194, 194);
    }

    a {
      display: flex;
      justify-content: center;
      color: rgb(255, 255, 255);

      .icon {
        font-size: 18px;
      }
    }
  }
}
