@use "../../styles/variables";

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1rem;

  a {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--help-icon-color);
    width: 28px;
    height: 28px;
    color: var(--help-icon-color);
    box-shadow: var(--help-shadow);

    .icon {
      font-size: 1.1rem;
    }

    &:active {
      color: color-mix(in srgb, var(--help-icon-color) 85%, black 15%);

      border: 1px solid
        color-mix(in srgb, var(--help-icon-color) 85%, black 15%);
    }
  }

  @media (min-width: 1026px) {
    a {
      transition: color 0.2s ease, background-color 0.2s ease, border 0.2s ease;
    }

    a:hover:not(:active) {
      color: color-mix(in srgb, var(--help-icon-color) 50%, white 50%);
      background-color: rgba(255, 255, 255, 0.05);
      border: 1px solid
        color-mix(in srgb, var(--help-icon-color) 50%, white 50%);
    }
  }
}
