@use "../../styles/variables";

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1rem;

  a {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid variables.$primary-text-color;
    // box-shadow: variables.$shadow-s;
    width: 28px;
    height: 28px;
    color: variables.$primary-text-color;

    .icon {
      font-size: 1.1rem;
    }

    &:active {
      color: darken(variables.$primary-text-color, 10%);
      border: 1px solid darken(variables.$primary-text-color, 10%);
      background-color: rgba(variables.$sky-lavender, 0.8);
    }
  }
}
