@use "../../styles/variables";

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 1rem;

  a {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid var(--help-icon-color);
    width: 28px;
    height: 28px;
    color: var(--help-icon-color);

    .icon {
      font-size: 1.1rem;
    }

    &:active {
      color: color-mix(in srgb, var(--help-icon-color) 85%, black 15%);
      border: 1px solid
        color-mix(in srgb, var(--help-icon-color) 85%, black 15%);
    }
  }
}
