.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 1rem;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  p {
    margin-bottom: 2rem;
    text-align: left;
  }
}
