.challenge {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;

  .btn-container {
    align-self: flex-end;

    button {
      background-color: transparent;
      border: none;
      margin: 1rem 0.5rem;
      font-size: 0.8rem;
      text-decoration: underline;
    }
  }
}
