@use "../../styles/variables";
@use "sass:color";

.challenge {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0 4rem 0;
  padding: 1rem;
  background-color: rgba(variables.$sky-lavender, 0.3);
  border-radius: 12px;
  // border: 1px solid rgba(255, 255, 255, 0.1);
  // box-shadow: variables.$shadow-s;
  backdrop-filter: blur(3px);

  p {
    font-size: 0.8rem;
    margin-bottom: 0;
    text-align: center;
  }

  h2 {
    margin-top: 0;
    font-size: 1rem;
  }

  .btn-container {
    align-self: flex-end;

    button {
      background-color: transparent;
      border: none;
      margin: 1rem 0.5rem 0 0.5rem;
      font-size: 0.8rem;
      text-decoration: underline;
      text-decoration-color: rgba(variables.$star, 0.8);
      color: variables.$star;
      cursor: pointer;
    }
  }
}
