@use "../../styles/variables";
@use "../../styles/base";
@use "sass:color";
@use "../../styles/mixins";

.mood-check {
  position: fixed;
  inset: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 2rem;
  height: 100%;
  width: 100%;

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2rem 0 4rem 0;

    li {
      margin: 0.5rem;

      button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        font-size: 0.8rem;
        cursor: pointer;
        padding: 0.3rem;

        .mood-icon {
          width: 45px;
          height: 45px;
          margin-bottom: 0.4rem;
          color: var(--mood-icon-color);
        }

        &:active {
          .mood-icon {
            color: color-mix(in srgb, var(--mood-icon-color) 90%, black 10%);
          }
        }

        &:focus-visible {
          border-radius: 3px;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    @include mixins.welcome-mood;

    ul {
      margin-top: 4rem;
      margin-bottom: 5rem;

      li {
        button {
          .mood-icon {
            transition: color 0.2s ease;
          }

          &:hover:not(:active) {
            .mood-icon {
              color: color-mix(in srgb, var(--mood-icon-color) 75%, white 35%);
            }
          }
        }
      }
    }
  }
}
