@use "../../styles/variables";
@use "../../styles/base";
@use "sass:color";

.mood-check {
  padding-top: 5rem;
  height: 100%;
  width: 100%;

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2rem 0 3rem 0;

    li {
      margin: 0.8rem;

      button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        border: none;
        font-size: 0.8rem;
        cursor: pointer;

        .mood-icon {
          width: 45px;
          height: 45px;
          margin-bottom: 0.4rem;
          color: var(--mood-icon-color);
        }

        &:active {
          .mood-icon {
            color: color-mix(in srgb, var(--mood-icon-color) 90%, black 10%);
          }
        }
      }
    }
  }
}
