@use "../../styles/variables";
@use "sass:color";

.tool-bar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem 1rem 0.7rem 1rem;
  backdrop-filter: blur(7px);
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 25%
  ); //Mask image to fade the top of the header, only 25% of the blur is visible, so there is no sharp line.

  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: transparent;
    color: var(--breathe-btn);
    font-size: 0.8rem;
    cursor: pointer;
    padding: 0.3rem;

    .tool-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      background-color: color-mix(in srgb, var(--breathe-btn) 30%, transparent);
      color: var(--breathe-btn);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-bottom: 0.3rem;
      padding-bottom: 1px;
      padding-right: 1px;
    }

    &:active {
      .tool-icon {
        color: color-mix(in srgb, var(--breathe-btn) 90%, black 10%);
        background-color: color-mix(
          in srgb,
          color-mix(in srgb, var(--breathe-btn) 30%, transparent),
          black 5%
        );
      }
    }

    &:focus-visible {
      border-radius: 3px;
    }
  }

  @media (min-width: 1024px) {
    .tool-icon {
      transition: background-color 0.2s ease, color 0.2s ease;
    }

    button {
      font-size: 0.9rem;
    }

    button:hover:not(:active) {
      .tool-icon {
        color: color-mix(in srgb, var(--breathe-btn) 90%, white 10%);
        background-color: color-mix(
          in srgb,
          color-mix(in srgb, var(--breathe-btn) 30%, transparent),
          var(--breathe-btn) 15%
        );
      }
    }
  }
}
