.tool-bar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  background-color: white;

  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: transparent;
    color: black;
    font-size: 0.8rem;

    .tool-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      background-color: rgb(207, 207, 207);
      color: white;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-bottom: 0.3rem;
      padding-bottom: 1px;
      padding-right: 1px;
    }

    &:hover {
      .tool-icon {
        background-color: rgb(201, 150, 150);
      }
    }
  }
}
