@use "../../styles/variables";
@use "sass:color";

.tool-bar {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  backdrop-filter: blur(7px);
  mask-image: linear-gradient(
    to bottom,
    transparent,
    black 25%
  ); //Fades the top of the header, only 25% of the blur is visible, so there is no sharp line.

  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    background-color: transparent;
    color: var(--breathe-btn);
    font-size: 0.8rem;
    cursor: pointer;

    .tool-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      background-color: color-mix(in srgb, var(--breathe-btn) 30%, transparent);
      color: var(--breathe-btn);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-bottom: 0.3rem;
      padding-bottom: 1px;
      padding-right: 1px;
    }

    // &:hover {
    //   .tool-icon {
    //     background-color: rgb(201, 150, 150);
    //   }
    // }

    &:active {
      .tool-icon {
        color: color-mix(in srgb, var(--breathe-btn) 90%, black 10%);
        background-color: color-mix(
          in srgb,
          color-mix(in srgb, var(--breathe-btn) 30%, transparent),
          black 5%
        );
      }
    }
  }
}
