@use "../../styles/variables";
@use "../../styles/mixins";

.overlay {
  position: fixed;
  inset: 0;

  .breathe-modal {
    position: fixed;
    inset: 0;
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    text-align: left;
    padding: 3rem 2rem;
    height: 100%;
    width: 100%;

    p {
      font-size: 0.8rem;
    }

    p:nth-of-type(1) {
      padding-top: 1rem;
    }

    p:nth-of-type(2) {
      font-style: italic;
    }
  }

  @media (min-width: 768px) {
    .breathe-modal {
      padding: 3rem 5rem;
    }
  }

  @media (min-width: 1024px) {
    @include mixins.overlay;

    .breathe-modal {
      @include mixins.modal;
    }
  }
}
