.breathe-modal {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: white;
  padding: 3rem 1rem;
  min-height: 100dvh;
  width: 100%;

  p:nth-of-type(2) {
    font-style: italic;
  }
}
