@use "../../styles/variables";

.breathe-modal {
  position: fixed;
  inset: 0;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  text-align: left;
  background-color: variables.$sky-lavender;
  padding: 3rem 2rem;
  min-height: 100%;
  width: 100%;
  text-align: left;

  p {
    font-size: 0.8rem;
  }

  p:nth-of-type(1) {
    padding-top: 1rem;
  }

  p:nth-of-type(2) {
    font-style: italic;
  }
}
