.breathe-modal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  position: fixed;
  inset: 0;
  background-color: white;
  padding: 4rem 2rem;
  min-height: 100dvh;
  width: 100%;

  p:nth-of-type(2) {
    font-style: italic;
  }
}
