@use "../../styles/variables";
@use "sass:color";
@use "../../styles/mixins";

.theme-toggle {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  .track {
    position: relative;
    width: 52px;
    height: 28px;
    border-radius: 999px;
    background-color: rgba(variables.$sky-lavender, 0.3);
    transition: background 0.2 ease;

    .knob {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 22px;
      height: 22px;
      line-height: 0;
      top: 3px;
      left: 3px;
      transition: transform 0.2s ease;
      background-color: variables.$sky-lavender;
      border-radius: 50%;
      padding-right: 1px;

      svg {
        display: block;
        padding-left: 2px;
        color: variables.$primary-btn-text;
      }
    }
  }

  input:focus-visible + .track {
    outline-offset: 1px;
    @include mixins.focus;
  }

  input:checked + .track {
    background-color: rgba(variables.$item-bg, 0.4);

    .knob {
      transform: translateX(24px);
      background-color: variables.$sky-espresso;

      svg {
        color: variables.$primary-text-sunset;
      }
    }

    @media (min-width: 1026px) {
      .knob {
        svg {
          transition: color 0.2s ease;
        }
      }

      &:hover {
        .knob {
          svg {
            color: variables.$secondary-text-sunset;
          }
        }
      }
    }
  }

  @media (min-width: 1026px) {
    .knob {
      svg {
        transition: color 0.2s ease;
      }
    }

    &:hover {
      .knob {
        svg {
          color: variables.$secondary-text-sunrise;
        }
      }
    }
  }
}
