@use "../../styles/variables";

.theme-toggle {
  display: inline-flex;
  align-items: center;
  cursor: pointer;

  .track {
    position: relative;
    width: 52px;
    height: 28px;
    border-radius: 999px;
    background-color: #d7d7d7;
    transition: background 0.2 ease;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.258);

    .knob {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 22px;
      height: 22px;
      line-height: 0;
      top: 3px;
      left: 3px;
      transition: transform 0.2s ease;
      background-color: rgb(255, 255, 255);
      border-radius: 50%;
      padding-right: 1px;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.258);

      svg {
        display: block;
        padding: 1px;
        color: rgb(76, 76, 76);
      }
    }
  }

  input:checked + .track {
    background-color: #d7d7d7;

    .knob {
      transform: translateX(24px);
      background-color: black;

      svg {
        color: white;
      }
    }
  }
}
