.affirmation-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: white;
  padding: 5rem 2rem;
  min-height: 100dvh;
  width: 100%;
  z-index: 1000;

  .affirmation {
    font-size: 1.6rem;
    padding-bottom: 3rem;
    font-family: "Cormorant Garamond", Cambria, "Times New Roman", serif;
  }

  .prompt {
    font-size: 0.8rem;
  }

  .icon {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: rgb(128, 104, 19);
  }
}
