@use "../../styles/variables";

.affirmation-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: fixed;
  inset: 0;
  background-color: variables.$sky-lavender;
  padding: 4rem 2rem 2rem 2rem;
  height: 100%;
  width: 100%;
  z-index: 1000;

  .affirmation {
    font-size: 1.6rem;
    padding-bottom: 2rem;
    font-family: "Cormorant Garamond", Cambria, "Times New Roman", serif;
  }

  .prompt {
    font-size: 0.8rem;
    margin-bottom: 2rem;
  }

  .icon {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: variables.$icon-gold;
  }
}
