.list-row {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.5rem;
  margin: 0.6rem;
  padding: 0.6rem;
  border-radius: 5px;

  .input-item {
    padding: 0.1rem 0.3rem;
    width: 100%;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid grey;
    background-color: transparent;

    &:focus-visible {
      border: none;
      border-radius: 3px;
      outline: 2px solid gold;
      box-shadow: 0 0 5px gold;
    }
  }

  .checked {
    text-decoration: line-through;
  }
}
