@use "../../styles/variables";

.list-row {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.2rem;
  margin: 0.3rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: color-mix(in srgb, var(--bg-color) 30%, transparent);

  // border: 1px solid rgba(255, 255, 255, 0.1);
  // box-shadow: variables.$shadow-s;

  .input-item {
    padding: 0.1rem 0.3rem;
    width: 100%;
    border: none;
    background-color: transparent;
    color: var(--input-color);

    &:focus-visible {
      border: none;
      border-radius: 3px;
      outline: 1px solid variables.$cloud;
      box-shadow: 0 0 5px variables.$cloud;
    }

    // Removing input background color from chrome autocomplete: https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      -webkit-background-clip: text;
      -webkit-text-fill-color: var(--input-color) !important;
    }
  }

  .checked {
    text-decoration: line-through;
    color: var(--checked);
  }
}
