@use "../../styles/variables";
@use "../../styles/mixins";

.list-row {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 0.2rem;
  margin: 0.3rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: color-mix(in srgb, var(--bg-color) 40%, transparent);
  backdrop-filter: blur(1px);
  border: 1px solid rgba(255, 255, 255, 0.04);
  box-shadow: var(--shadow);

  .label:focus-within span:first-of-type {
    outline-offset: 1px;
    @include mixins.focus;
  }

  .input-item {
    padding: 0.1rem 0.3rem;
    margin: 0 0.3rem 0 0.5rem;
    width: 100%;
    border: none;
    background-color: transparent;
    color: var(--input-color);
    transition: background-color 0.2s ease;

    &:focus-visible {
      border-radius: 3px;
      background-color: color-mix(in srgb, var(--bg-color) 25%, transparent);
    }
  }

  .empty {
    border-bottom: 1px solid rgba(variables.$cloud, 0.4);
  }

  .checked {
    text-decoration: line-through;
    color: var(--checked);
  }

  @media (min-width: 768px) {
    margin: 0.4rem 0;

    .input-item {
      font-size: 1rem;
    }
  }

  @media (min-width: 1024px) {
    .empty {
      &:hover {
        border-radius: 3px;
        background-color: color-mix(in srgb, var(--bg-color) 25%, transparent);
      }
    }
  }
}
